<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://live.staticflickr.com/1862/43802450454_5d9ac42990_c.jpg"/>
  <ion-card>
    <ion-card-content>
      <p>Address: Pamulang Street, 777</p>
      <p>Complement: Tangerang</p>
      <p>Zip code: 55891</p>
      <p>City name - State: Pamulang</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button color="success"size="full" (click)="newToPickupCall()">Create pick up call</ion-button>
</ion-content>
